*.pyc
*.db
*.sqlite3
/config.py
/settings.py
/node_modules
/bower_components
.tmp
.sass-cache
/dist
.cache
.grunt
_SpecRunner.html
/.functional-tests
.gmapikey
.DS_Store
env
/.env
.idea
/media
/.vscode