<h2>{{city}}</h2>
{{#pins}}
	<div class="dialect" style="border-left-color: {{color}}">
		<h3>{{dialect}}</h3>
		<p>i18n justAnExampleMsg</p>
		<p class="contributions-count">i18n numberOfContributions</p>
	</div>
{{/pins}}
