{{! This will be inserted into a popover. }}
<table class="legend table-condensed">
	{{#dialects}}<tr>
		<td style="background-color: {{color}};"></td>
		<td>{{dialect}}</td>
	</tr>{{/dialects}}
</table>
