<h2>{{city}}</h2>
{{#sections}}
	<div class="dialect" style="border-left-color: {{color}}">
		<h3>{{dialect}}</h3>
		<p class="contributions-count">{{>numberOfContributions}}</p>		
		{{#recordings}}		
		<audio controls>
			<source src="{{recording_web}}" type="audio/mp3">
		</audio>
		<button 
			class="btn btn-link contrib-details-button" 
			type=button 
			data-toggle=collapse 
			data-target="#details{{dialect}}{{@index}}" 
			aria-expanded=false 
			aria-controls="#details{{dialect}}{{@index}}">
			{{>contributionShowDetails}}
		</button>
		<div id=details{{dialect}}{{@index}} class="collapse"><p>{{>contributionDetails}}</p></div>
		{{/recordings}}
	</div>
{{/sections}}
