<div class=container>
	<div class=row>
		<div class="well col-md-8 col-md-offset-2">
			<img class=img-responsive alt="Utrecht University Logo" src="static/image/UU-logo2011.svg"></img>
			<h1>MODULO INFORMATIVO DEL PARTECIPANTE</h1>
			<p class=lead>Grazie per aver accettato di partecipare a questo studio. Questo modulo descrive lo scopo del nostro studio, il tipo di partecipazione richiesta e i tuoi diritti di partecipante.</p>
			<p><strong>Informazioni e scopi:</strong> lo scopo di questo studio è capire cosa succede quando due lingue entrano in contatto. Per fare questo, raccoglieremo e studieremo dati linguistici da immigrati italiani di prima generazione che sono emigrati nel Nord e Sud America tra il 1940 e il 1960, e dati linguistici dai loro discendenti (eredità linguistica). Puoi partecipare a questa ricerca se sei un italiano immigrato in America (del Nord e del Sud), o se appartieni a una famiglia di immigrati.</p>
			<p><strong>La tua partecipazione:</strong> la tua partecipazione a questo studio si svolgerà nel seguente modo.</p>
			<section>
				<p><u>Prima fase della ricerca:</u></p>
				<ul>
					<li>Se sei nato in Italia o in America e parli uno dei seguenti dialetti:
						<ul class=list-inline>
							<li>veneto,</li>
							<li>piemontese,</li>
							<li>napoletano/campano,</li>
							<li>abruzzese,</li>
							<li>palermitano/siciliano,</li>
							<li>salentino,</li>
							<li>fiorentino o</li>
							<li>senese</li>
						</ul>
						chiedi a qualcuno che sa usare internet di registrarti e caricare la tua registrazione sull’<a href="https://microcontact.hum.uu.nl/#contributions" target=_blank>atlante interattivo</a>. Se riesci a farlo da solo, puoi certamente farlo tu stesso, senza chiedere aiuto ad altri.</li>
					<li>Per favore, fai una registrazione di massimo 10 minuti (o anche più breve) in cui racconti una storia di quando sei arrivato in America o un episodio che ti è successo da bambino o da giovane.</li>
				</ul>
				<p>Dopo aver registrato, il file audio può essere caricato sull’atlante interattivo, dove potrà essere ascoltato da chiunque sia interessato. Il tuo nome e cognome non saranno mai pubblici.</p>
			</section>
			<section>
				<p><u>Seconda fase della ricerca:</u></p>
				<p>Se la tua lingua è selezionata per la seconda fase, sarai contattato da un ricercatore, che verrà nella tua città per farti un’intervista. L’intervista non sarà più lunga di 1 ora e riguarderà soltanto la tua lingua. </p>
				<p>La partecipazione a questa ricerca è volontaria e gratis. Non c’è nessuna contravvenzione se la partecipazione è interrotta. Puoi decidere di non partecipare a tutte le fasi e puoi ritirare il tuo contributo in qualunque momento.</p>
				<p><strong>Benefici e rischi:</strong> il beneficio della tua partecipazione è contribuire informazioni per l’analisi linguistica e per capire come funzionano le lingue quando entrano in contatto con altre lingue. Offrirai inoltre una preziosa documentazione della tua lingua, che sarà molto utile per chiunque lavori sulla cultura e la storia degli emigrati italiani.<br>
				Non ci sono rischi associati alla partecipazione a questo studio. Non ti saranno mai chiesti soldi o contributi materiali di qualsiasi tipo durante le fasi della ricerca. Stai solo aiutando la ricerca scientifica.</p>
				<p><strong>Riservatezza:</strong> il tuo nome e cognome non saranno registrati e non saranno mai resi pubblici. Le tue informazioni identificative non saranno associate a nessuna relazione scritta della ricerca. Tutte le tue informazioni e risposte nell’intervista saranno riservate. Il ricercatore non condividerà queste informazioni con nessun altro, ma solo con i membri del gruppo di ricerca.</p>
				<p>Se hai domande, dubbi o reclami, puoi contattare la Prof. Roberta D’Alessandro (vedi sotto).</p>
			</section>
			<section>
				<h2>CONTATTI</h2>
				<address><table class=contact-table>
					<tr><td><strong>Coordinatrice del progetto:</strong></td><td>Prof. Roberta D’Alessandro</td></tr>
					<tr><td>Indirizzo:</td><td>
						Department of TLC / Taalwetenschap UiL OTS<br>
						Faculty of Humanities<br>
						Trans 10, 3512 JK, Utrecht<br>
						The Netherlands
					</td></tr>
					<tr><td>Telefono:</td><td>+31 30 253 3596</td></tr>
					<tr><td>Email:</td><td>r.dalessandro@uu.nl</td></tr>
	<tr><td></td><td></td></tr>
					<tr><td><strong>Email del gruppo di ricerca:</strong></td><td>microcontact@uu.nl</td></tr>
				</table></address>
			</section>
		</div>
	</div>
</div>
