<div class=container>
	<div class=row>
		<div class="well col-md-8 col-md-offset-2">
			<div>
				<img class="img-responsive col-xs-5 col-sm-4" alt="Utrecht University Logo" src="static/image/UU-logo2011.svg"></img>
				<div class="col-xs-4 col-sm-6"></div>
				<img id=etcl-logo class="img-responsive col-xs-3 col-sm-2" alt="ETCL Logo" src="static/image/etcl_logo.png"></img>
			</div>
			<div class="col-md-12">
				{{>informationFormText}}
			</div>
		</div>
	</div>
</div>
