<div class=container>
	<div class=row>
		<div class="well col-md-8 col-md-offset-2">
			<img class=img-responsive alt="Utrecht University Logo" src="static/image/UU-logo2011.svg"></img>
			{{>informationFormText}}
		</div>
	</div>
</div>
