{{!UU Digital Humanities Lab logo}}
<a href="http://dig.hum.uu.nl" target=_blank>
	<img
		src="static/image/LogoLab70x30.png"
		height=30
		srcset="static/image/LogoLab141x60 2x"
		alt="UU DHLab logo"
		title="Digital Humanities Lab at Utrecht University"
	>
</a>
