{{!European Research Council logo}}
<a href="https://erc.europa.eu" target=_blank>
	<img
		src="static/image/erc_logo_cut_42x30.png"
		height=30
		srcset="static/image/erc_logo_cut_84x60 2x"
		alt="ERC logo"
		title="European Research Council"
	>
</a>
