{{!European Research Council logo}}
<a href="https://erc.europa.eu" target=_blank>
	<img
		src="https://dhstatic.hum.uu.nl/logo-erc/LOGO_ERC-FLAG_EU-cropped.svg"
		height=30
		alt="ERC logo"
		title="European Research Council"
		style="background-color: white;"
	>
</a>
