<ul class="nav nav-tabs" role=tablist>
	<li id=tab-participate role=presentation>
		<a href="#participate" role=tab>Partecipa</a>
	<li id=tab-contributions role=presentation>
		<a href="#contributions" role=tab>Mostra i contributi</a>
</ul>
