{{#show}}
	<ol id="tab-navigate" class="breadcrumb" role="tab">
		<li><a href="#home">Home</a></li>
		{{#showEnter}}
		<li><a href="#map">Map</a></li>
		{{/showEnter}}
		{{#showParticipate}}
		<li><a href="#participate">{{>navParticipateLink}}</a></li>
			{{#country}}
			<li><a href="#participate/{{country}}">{{country}}</a></li>
			{{/country}}
			{{#query}}
			<li><a href="#participate/{{country}}/{{query}}">{{query}}</a></li>
			{{/query}}
		{{/showParticipate}}		
		{{#showContributions}}
		<li>{{>navContributionsLink}}</li>
		{{/showContributions}}
	</ol>
	{{#showParticipate}}
	<ol id="tab-switch" class="breadcrumb" role="presentation">
		<li><a href="#contributions" role="tab">{{>navContributionsLink}}</a></li>		
	</ol>
	{{/showParticipate}}
	{{#showContributions}}
	<ol id="tab-switch" class="breadcrumb" role="presentation">
		<li><a href="#participate" role="tab">{{>navParticipateLink}}</a></li>		
	</ol>
	{{/showContributions}}	
{{/show}}
