<div class=panel-heading>
	<h2 class=panel-title>Benvenuti nel sito Microcontact</h2>
	<p>(in costruzione)</p>
</div>
<div class=panel-body>
	<p>Partecipa anche tu alla documentazione e alla valorizzazione dei dialetti italiani!</p>
	<p>Registra con il tuo telefonino un breve racconto nel tuo dialetto di origine. Poi carica il tuo file audio o video sul sito. Il tuo racconto registrato può essere lungo fino a un massimo di 10 minuti. Puoi parlare di un evento della tua infanzia o della tua giovinezza, di un viaggio, di un ricordo passato, ecc.</p>
	<p>Quando la tua registrazione è pronta, cerca la tua città o paese sulla mappa. Clicca sulla tua città o paese per cominciare il caricamento della registrazione.</p>
	<p>Grazie per la collaborazione!</p>
	<p><a class="btn btn-primary btn-lg" href="#participate" role="button">Partecipa</a></p>
</div>

