<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	An error occurred during the search. Please try again later.<br>
	{{error}}
</div>