<div class=list-group>
	<a href="#participate/AR" class=list-group-item>Argentina</a>
	<a href="#participate/BR" class=list-group-item>Brazil</a>
	<a href="#participate/CA" class=list-group-item>Canada</a>
	<a href="#participate/US" class=list-group-item>USA</a>
	<a href="#participate/IT" class=list-group-item>Italy</a>
</div>