<div class=panel-heading>
	<h2 class=panel-title>Welcome to Microcontact</h2>
</div>
<div class=panel-body>
	<p>Take part in the documentation and promotion of the Italian dialects!</p>
	<p>With your smartphone, just record a short story told in the dialect of your origins. Then, upload your audio or video file on the site. Your short story can last up to a maximum of 10 minutes. You can talk about an event from your childhood or youth, a trip, a past memory.</p>
	<p>Thank you for your collaboration!</p>
</div>
