<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" aria-label="{{>closeButtonLabel}}">
		<span aria-hidden="true">&times;</span>
	</button>
	{{>searchPlaceErrorTryLater}}<br>
	{{error}}
</div>