<p class="lead">i18n searchPlaceLead</p>
<form class=form-inline>
	<div class=form-group>
		<label for="particip-query">i18n searchPlaceFieldLabel</label>
		<input
			type=text
			id=particip-query
			class=form-control
			placeholder="i18n placeFieldPlaceholder"
			value="{{query}}" />
	</div>
	<button type=submit class="btn btn-primary">i18n searchPlaceButtonText</button>
</form>
