<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" aria-label="i18n closeButtonLabel">
		<span aria-hidden="true">&times;</span>
	</button>
	i18n searchPlaceNothingFound
</div>