<div class=panel-heading>
	<h2>Benvenuti nel sito Microcontact</h2>
	<p>(in costruzione)</p>
</div>
<div class=panel-body>
	<p>Partecipa anche tu alla documentazione e alla valorizzazione delle varietà italiane parlate nelle Americhe! <button class="btn btn-link" type=button data-toggle=collapse data-target=".welcome-more" aria-expanded=false>Continua a leggere...</button></p>
	<p class="collapse welcome-more">Vai da un membro anziano della tua famiglia che parla il dialetto.<br>Registra con il tuo telefonino il parlante. Poi carica il file audio sul sito. Il racconto registrato può essere lungo fino a un massimo di 10 minuti. Il parlante può racontare un evento della sua infanzia, la sua giovinezza, un viaggio, la guerra, un ricordo passato, ecc.</p>
	<p class="collapse welcome-more">Quando la registrazione è pronta, cerca sulla mappa la città/paese in cui vive ora il parlante. Clicca sulla città/paese per cominciare il caricamento della registrazione.</p>
	<p><em>Grazie per la collaborazione!</em></p>
	<address>
		<i>Il gruppo di ricerca</i><br>
		microcontact@uu.nl
	</address>
	<p><a class="btn btn-primary btn-lg" href="#participate" role="button">Partecipa</a></p>
</div>

