<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" aria-label="{{>closeButtonLabel}}">
		<span aria-hidden="true">&times;</span>
	</button>
	{{>searchPlaceNothingFound}}
</div>