<div class=panel-heading>
	<h2>i18n welcomeTitle</h2>
</div>
<div class=panel-body>
	<p>i18n welcomeLead <button class="btn btn-link" type=button data-toggle=collapse data-target=".welcome-more" aria-expanded=false>i18n welcomeShowMoreButton</button></p>
	i18n welcomeCollapsedText
	<p><em>i18n welcomeThankYou</em></p>
	<address>
		<i>i18n welcomeSignature</i><br>
		microcontact@uu.nl
	</address>
	<p><a class="btn btn-primary btn-lg" href="#participate" role="button">i18n welcomeParticipateButton</a></p>
</div>

