<p>Please enter the name of your city or village in {{countryLong}}.</p>
<form class=form-inline>
	<div class=form-group>
		<label for=particip-query>Place</label>
		<input
			type=text
			id=particip-query
			class=form-control
			placeholder="My City"
			value="{{query}}" />
	</div>
	<button type=submit class="btn btn-primary">Search</button>
</form>
