<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" aria-label="i18n closeButtonLabel">
		<span aria-hidden="true">&times;</span>
	</button>
	i18n searchPlaceErrorTryLater<br>
	{{error}}
</div>