<p class="lead">{{>searchPlaceLead}}</p>
<form class=form-inline>
	<div class=form-group>
		<label for="particip-query">{{>searchPlaceFieldLabel}}</label>
		<input
			type=text
			id=particip-query
			class=form-control
			placeholder="{{>placeFieldPlaceholder}}"
			value="{{query}}" />
	</div>
	<button type=submit class="btn btn-primary">{{>searchPlaceButtonText}}</button>
</form>
