<div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	No results were found for "{{query}}". Please check your spelling and try again.
</div>