{{#place}}
	<h2>{{name}}, {{countryName}}</h2>
	<form>
		<fieldset>
			<div class=form-group>
				<label for=upload-file class=control-label>La tua registrazione (required)</label>
				<input id=upload-file name=recording type=file class=form-control accept="audio/*" required>
			</div>
		</fieldset>
		<fieldset>
			<legend>About the recording and the speaker</legend>
			<div class=form-group>
				<label for=upload-dialect class=control-label>Dialetto del paese di provenienza (required)</label>
				<select id=upload-dialect name=dialect class=form-control required>
					<option></option>
					{{#dialects}}<option value={{id}}>{{dialect}}</option>{{/dialects}}
				</select>
			</div>
			<div class=form-group>
				<label for=upload-languages class=control-label>What other languages does the speaker know? (required)</label>
				<select multiple id=upload-languages name=languages class=form-control>
					{{#languages}}<option value={{id}}>{{language}}</option>{{/languages}}
				</select>
			</div>
			<div class=form-group>
				<label class=control-label>Nazione</label>
				<p class=form-control-static>{{countryName}}</p>
				<label class=control-label>Città</label>
				<p class=form-control-static>{{name}}</p>
				<input type=hidden name="place.placeID" value="{{placeID}}">
				<input type=hidden name="place.name" value="{{name}}">
				<input type=hidden name="place.country" value="{{country}}">
				<input type=hidden name="place.latitude" value="{{latitude}}">
				<input type=hidden name="place.longitude" value="{{longitude}}">
			</div>
			<div class=form-group>
				<label for=upload-age class=control-label>Age (required)</label>
				<select id=upload-age name=age class=form-control required>
					<option></option>
					{{#ages}}<option value={{id}}>{{least}}&ndash;{{greatest}}</option>{{/ages}}
				</select>
			</div>
			<div class=form-group>
				<label for=upload-sex class=control-label>Sex (required)</label>
				<select id=upload-sex name=sex class=form-control required>
					<option></option>
					<option value=a>male</option>
					<option value=b>female</option>
					<option value=c>other</option>
				</select>
			</div>
			<div class=form-group>
				<label for=upload-education class=control-label>Level of education (required)</label>
				<select id=upload-education name=education class=form-control required>
					<option></option>
					<option value=e>elementary</option>
					<option value=m>middle</option>
					<option value=h>high</option>
					<option value=u>university</option>
				</select>
			</div>
			<div class=radio>
				<label>
					<input type=radio name=generation value=a>
					First generation emigrant
				</label>
				<label>
					<input type=radio name=generation value=b>
					Second generation emigrant
				</label>
			</div>
			<div class=form-group>
				<label for=upload-migrated class=control-label>First generation migrated in</label>
				<input id=upload-migrated name=migrated type=number class=form-control placeholder=1960 min=1890 max=2021 step=1 spellcheck=false>
			</div>
			<div class=form-group>
				<label for=upload-origin class=control-label>First generation emigrated from</label>
				<input id=upload-origin name=origin type=text class=form-control placeholder="Palermo" maxlength=200 spellcheck=false>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</fieldset>
		<fieldset>
			<legend>About you, the uploader</legend>
			<div class=form-group>
				<label for=upload-name class=control-label>Name (required)</label>
				<input id=upload-name name=name type=text class=form-control required autocomplete=name spellcheck=false placeholder="Christina Alvarez" maxlength=200>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
			<div class=form-group>
				<label for=upload-email class=control-label>Email (please provide at least one contact detail)</label>
				<input id=upload-email name=email type=email class="form-control upload-contact" autocomplete=email spellcheck=false placeholder="calvarez@example.com" maxlength=254>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
			<div class=form-group>
				<label for=upload-phone class=control-label>Phone (please provide at least one contact detail)</label>
				<input id=upload-phone name=phone type=tel class="form-control upload-contact" autocomplete=tel placeholder="+1 123456789" maxlength=128 spellcheck=false>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</fieldset>
		<fieldset>
			<div class=checkbox>
				<label>
					<input type="checkbox" name="consent" id=user-consent required>
					La persona la cui voce è registrata su questo file dichiara di aver letto e capito il Modulo Informativo del Partecipante e di accettare di partecipare a questo studio.
				</label>
			</div>
			<div class=form-group>
				<div id=upload-status></div>
				<button type=submit class="btn btn-primary" id=submit-button disabled>Invia</button>
			</div>
		</fieldset>
	</form>
{{/place}}
