{{#city}}
	<h2>{{city}}, {{country}}</h2>
	<p>Il sito è ancora in costruzione, quindi al momento non è possibile caricare le registrazioni. Qui sotto puoi vedere come apparirà il modulo per il caricamento.</p>
	<form>
		<div class=form-group>
			<label for=upload-file class=control-label>La tua registrazione</label>
			<input id=upload-file type=file class=form-control disabled>
		</div>
		<div class=form-group>
			<label for=upload-dialect class=control-label>Dialetto del paese di provenienza</label>
			<select id=upload-dialect class=form-control disabled>
				<option>Abruzzese/Teatino</option>
				<option>Fiorentino</option>
				<option>Napoletano (Campano)</option>
				<option>Palermitano (Siciliano)</option>
				<option>Piemontese</option>
				<option>Salentino</option>
				<option>Senese (Toscano)</option>
				<option>Veneto</option>
			</select>
		</div>
		<div class=form-group>
			<label class=control-label>Nazione</label>
			<p class=form-control-static>{{country}}</p>
			<label class=control-label>Città</label>
			<p class=form-control-static>{{city}}</p>
		</div>
		<div class=form-group>
			La persona la cui voce è registrata su questo file dichiara di aver letto e capito il Modulo Informativo del Partecipante e di accettare di partecipare a questo studio.<br>
			<input type="checkbox" name="consent" id=user-consent {{agreed}}> D'accordo <br>
		</div>
		<div class=form-group>
			<button type=submit class="btn btn-primary" id=submit-button disabled>Invia</button>
		</div>
	</form>
{{/city}}{{^city}}
	<h2>Nessuna città qui</h2>
	<p>Può essere più facile trovare e cliccare la tua città ingrandendo la mappa con lo <a id=upload-zoom>zoom</a>.</p>
{{/city}}
